body {
  background: url(../images/starry_night.jpeg);
  background-size: cover;
  padding-top: 5rem;
  color: #fff;
}
h1 {
  color: #fff;
}
p {
  color: #fff;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
